<?xml version="1.0"?>
<extension>
	<id>acw_supplier_manager</id>
<name>ACW Supplier Manager</name>
	<type>extensions</type>
	<category>extensions</category>
	<cartversions>
		<item>1.4</item>
	</cartversions>
	<layout></layout>
	<priority>10</priority>
	<settings></settings>
	<preview>
		<item>preview.png</item>
	</preview>
	<help_file><![CDATA[help.txt]]></help_file>
	<add<additional_settings><![CDATA[extension/acw_supplier_manager]]></additional_settings>
	<note>true</note>
	<install>
		<sql>install.sql</sql>
		<trigger>install.php</trigger>
	</install>
	<uninstall>
		<sql>uninstall.sql</sql>
		<trigger>uninstall.php</trigger>
	</uninstall>
</extension>
